<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation strict="true" explicit="true" targetFramework="4.0" debug="true"/>
    <customErrors mode="Off"/>
    
		<!-- 200MB in kilobytes, default is 4096 or 4MB-->
		<httpRuntime maxRequestLength="204800" executionTimeout="86400" />
  </system.web>
  
  
  <system.serviceModel>
    
    <client>
      <endpoint address="https://www10.cor-asp.ch/ApWebServices/ApScriptingService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ApScriptingServiceSoap"
        contract="APScriptingService.ApScriptingServiceSoap" name="ApScriptingServiceSoap" />
    </client>
    <services>
      
      <service behaviorConfiguration="Default" name="Portal_Convert.Converter">
        <endpoint address="SOAP" behaviorConfiguration="Default" binding="basicHttpBinding" bindingConfiguration="basicSecureHttpBinding" contract="Portal_Convert.Converter"/>
        <endpoint address="SOAPS" behaviorConfiguration="Default" binding="wsHttpBinding" bindingConfiguration="wsSecureHttpBinding" contract="Portal_Convert.Converter"/>
        <endpoint behaviorConfiguration="WebHttpDefault" binding="webHttpBinding" bindingConfiguration="secureHttpBinding" contract="Portal_Convert.Converter"/>
        
        <!--
        Could not find a base address that matches scheme http for the endpoint with binding MetadataExchangeHttpBinding. 
        Registered base address schemes are [https].
        
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
        -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        
      </service>
      
      <!-- 
			<service behaviorConfiguration="Default" name="Portal_Convert.NonAJAX">
				<endpoint address="SOAP" behaviorConfiguration="Default" binding="basicHttpBinding" bindingConfiguration="basicSecureHttpBinding" contract="Portal_Convert.NonAJAX"/>
				<endpoint address="SOAPS" behaviorConfiguration="Default" binding="wsHttpBinding" bindingConfiguration="wsSecureHttpBinding" contract="Portal_Convert.NonAJAX"/>
				<endpoint address="HTTP" behaviorConfiguration="WebHttpDefault" binding="webHttpBinding" bindingConfiguration="secureHttpBinding" contract="Portal_Convert.NonAJAX"/>

				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			-->
    </services>
    
    <bindings>
      <basicHttpBinding>
        <binding name="basicSecureHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="ApScriptingServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ApScriptingServiceSoap1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsSecureHttpBinding" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="secureHttpBinding" maxBufferSize="2147483647"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttpDefault">
          <webHttp helpEnabled="true"/>
        </behavior>
        <behavior name="Default"/>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    
  	<security>
			<requestFiltering>
				<!-- 2 GiB-->
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
    
  </system.webServer>

</configuration>
